/*INFOGRAFICO - PIRÂMIDE*/


/* SVG */
svg#piramide {
    transform:translate(120px); 
    transition: 0.5s ease-in-out;
}

.piramide__txt--hide{
	opacity: 0;
	transition: opacity 0.25s ease-in;
}

.piramide__txt--show {
	opacity: 1;
	transition: opacity 1s ease-out;
}

.area1{fill: #73370C;;}
.area2{fill:#E26305;}
.area3{fill:#FD8430;}

.area1, .area2, .area3 {transition: 0.3s;}

.bt-label:hover {cursor:pointer;}

#bt1:hover .area1 {fill:#201c19;}
#bt2:hover .area2 {fill:#201c19;}
#bt3:hover .area3 {fill:#201c19;}

.area-txt tspan{
	fill:#fff;
	font-family: 'Patrick Hands';
}

#bt1 .area-txt tspan {
	font-size:28px;
}

#bt2 .area-txt tspan {
	font-size:24px;
}

#bt3 .area-txt tspan {
	font-size:20px;
}

#txt-bt1 .linha {stroke: #73370C;;}
#txt-bt2 .linha {stroke: #E26305;}
#txt-bt3 .linha {stroke: #FD8430;}

.linha{
	fill: none;
	stroke-miterlimit: 10;
	stroke-width: 2px;
}

.txt-item-title {
	font-family:'Roboto';
	font-weight: 700;
    font-size:24px;
}

#texto1 .txt-item-title {fill: #73370C;}
#texto2 .txt-item-title {fill: #E26305;}
#texto3 .txt-item-title {fill: #FD8430;}

.txt-item {
	fill: #000;
	font-family:'Roboto';
	font-weight: 300;
	font-size:20px;
}


/* ACCORDION (MOBILE ONLY) */
#accordion-piramide #headingOne.accordion__header a{background: #73370C;}
#accordion-piramide #headingTwo.accordion__header a{background: #E26305;}
#accordion-piramide #headingThree.accordion__header a{background: #FD8430;}


#accordion-piramide .collapsible-link::before,
#accordion-piramide .collapsible-link::after {background:#fff;}

@media (min-width: 992px){
    svg#piramide {
        transform:translate(200px); 
        transition: 0.5s ease-in-out;
    }

    .txt-item-title {font-size:20px;}

    .txt-item {font-size:16px;}
    
}